*{
    padding:0px;
    margin: 0px;
}
body{
    margin: 10px;
}
.container{
    background-color:azure;
    color:black;
    margin: 30px;
    padding: 30px;
    line-height: 35px;
}

.container1{
    margin-top: 10px;
}